{% extends 'base.html' %}
{% block main_content %}
    <ul class="Products_list">
        {% for prod in products %}
            <li class="product-item">
                <h1>{{ prod.title }}</h1>
                <p>{{ prod.description }}</p>
                <span>{{ prod.price }} CZK </span>
                <span>{{ prod.quantity }} шт.</span>
                <a href="{% url 'product_detail' id=prod.id %}"> Подробнее </a>
            </li>
        {% endfor %}
</ul>
{% endblock main_content %}
