
{% extends 'base.html' %}

{% block main_content %}

   <ul class="Products_list">         {% if product %}
             
       
         <li class="product_item">
             <h1>{{ prod.title }}</h1>
             <p>{{ product.description }}</p>
             <span>{{ product.price }}</span>
             <span>{{ product.quantity }}</span>
             
             </li>
              {% else %}
                <p style="color: red;">Product not found.</p>

              {% endif %}
   
   </ul>
 {% endblock main_content %}
